body { background:#c3c3c3; color:#000; font-family:sans-serif }
body.cahier {  background: #c3c3c3 url(IMAGE/spir-gris.gif); background-repeat: repeat-y; color:#000; font-family:sans-serif }
body.blob {  background: #c3c3c3 url(IMAGE/x3.gif); background-repeat: repeat; color:#000; font-family:sans-serif }
a:active, a:link { color:#00c }
a:visited { color:#808 }
h1 { border: 4px solid red; padding: 1em 2em }
h2 { border: 3px solid red; padding: 10px 10px }
h3 { color: #993300 }
img {vertical-align:middle}
#marge { position:absolute; top:20px; left:3px; width:120px}
#page { position:absolute; top:3px; left:180px; }
